<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>List Page</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="list">
    <!--Header-->
    <header class="flex justify-between align-center header">
      <a href="/" class="logo">Users</a>
      <a href="/users/new" class="btn btn-secondary"> Add User</a>
    </header>
    <!--Main-->
    <main>
      <h2>List of Users</h2>
      <ul>
        <% users.forEach(elem => { %>
        <li>
          <h3><%= elem.name %></h3>
          <h4><%= elem.age %></h4>
          <a href="/users/<%= elem._id %>"> Show </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
