.list {
  .header {
    background-color: black;
    color: white;
    .logo {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
      font-style: italic;
      margin-left: 1rem;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: white;
    padding: 1rem;
    text-align: center;

    a {
      background-color: green;
      border: 2px solid black;
    }
  }
}
