header {
  h1 {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
  }
}

body{
    main{
        height: 91.65vh;
        background-color: mediumseagreen;
        text-align: center;
        h2{
            text-align: center;
            font-style: italic;
            padding-top: 2rem;
            color: rgb(44, 44, 146);
        }
    }
}
